/*------------------------------ Variables ------------------------------*/

body {
    min-width: 320px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 6em;

    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    font-size: 4em;

    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    font-size: 2.25em;

    margin-top: 5px;
    margin-bottom: 0px;
}

p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    font-size: 1em;

    margin-bottom: 0px;

    line-height: 180%;
}

a {
    color: white;
    text-decoration: none;

    font-size: 1.3em;
}

li {
    padding-left: 5%;
    padding-top: 2%;
}

.tab {
    display: inline-block;

    margin-left: 40px;
}

.content-width {
    width: 92%;
}

.content-align {
    text-align: left;
}

.btn {
    background-color: #EB6601;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;

    font-size: 1.5em;

    margin-top: 20px;
}

.row {
    margin: auto;
}

.remove-padding {
    padding: 0px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.6em;
    }

    h3 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .btn {
        background-color: #EB6601;

        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        color: white;

        font-size: 1em;

        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        text-align: center;

        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
    }

    .content_width {
        width: 100%;
    }

    .content-align {
        text-align: center;
    }
}

/*------------------------------ Header (Large) ------------------------------*/

.navbar-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 66%;
}

.navbar {
    padding-top: 4%;

    margin-bottom: 0px;

    margin: auto;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.navbar-toggle {
    padding-top: 3%;
}

.tagline-header {
    padding-top: 11%;
    padding-bottom: 12%;
}

.indexheaderbg {
    background: url(images/backgrounds/index/index-header-background.jpg);
    background-size: cover;
}

@media screen and (max-width: 1100px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;

        font-size: 1em;
    }

    .navbar-nav {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        width: 63%;
    }
}

@media screen and (max-width: 990px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

/*Code for NavBar Collapse from: https://jsfiddle.net/0pmy8usr/*/

@media screen and (max-width: 500px) {
    .navbar-toggle {
        padding-top: 5%;
    }
}

/*------------------------------ Header (Small) ------------------------------*/

.smallheaderbg {
    background: url(images/backgrounds/header-background.jpg);
    background-size: cover;

    padding-bottom: 3%;
}

@media (max-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-header .collapse,
    .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

/*Code for NavBar Collapse from: https://jsfiddle.net/0pmy8usr/*/

@media screen and (max-width: 320px) {
    .navbar {
        padding-top: 4%;

        margin-bottom: 0px;

        margin: auto;
    }

    .navbar-toggle {
        padding-top: 7%;
        padding-right: 0px
    }
}

/*------------------------------ Index ------------------------------*/

.index-section-one-bg {
    background: url(images/backgrounds/index/index-section2-background.jpg);
    background-size: cover;
}

.index-section-two-bg {
    background: url(images/backgrounds/index/index-section3-background.jpg);
    background-size: cover;
}

.index-content-one {
    margin-top: 70px;
    margin-bottom: 70px;
}

.index-tour-left-one {
    margin-left: 350px;
    margin-right: -230px;

    padding-top: 150px;

    z-index: 1;
}

.index-tour-right-one {
    margin-left: -250px;

    padding-left: 150px;
    padding-top: 270px;

    text-align: right;
}

.index-tour-left-two {
    margin-left: 120px;
    margin-right: -230px;

    padding-top: 150px;

    z-index: 1;
}

.index-tour-right-two {
    margin-left: -250px;

    padding-left: 140px;
    padding-top: 270px;

    text-align: right;
}

@media screen and (max-width: 768px) {
    .index-tour-img {
        width: 140%;
    }
}

@media screen and (max-width: 320px) {
    .index-tour-img {
        width: 100%;
    }

    .index-tour-left-one {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 20px;
        text-align: center;
    }

    .index-tour-left-two {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 20px;
        text-align: center;
    }

    .index-tour-right-one {
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .index-tour-right-two {
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .index-content-one {
        text-align: center;
    }

    .index-blog-img {
        width: 100%;
        padding-top: 20px;
    }
}

/*------------------------------ Blog ------------------------------*/

.blog-section-one-bg {
    background: url(images/backgrounds/blog/blog-section2-background.jpg);
    background-size: cover;

    padding-bottom: 45px;
    padding-top: 45px;
}

.p-subtitle {
    font-size: 1.50em;
}

.section-padding-top {
    padding-top: 45px;
}

.section-padding-bottom {
    padding-bottom: 45px;
}

@media screen and (max-width: 1100px) {
    .blog-content-padding {
        padding-left: 40px;
    }
}

@media screen and (max-width: 970px) {
    .blog-content-padding {
        padding-left: 60px;
    }
}

@media screen and (max-width: 890px) {
    .blog-content-padding {
        padding-left: 80px;
    }
}

@media screen and (max-width: 820px) {
    .blog-content-img {
        width: 130%;
    }
}

@media screen and (max-width: 768px) {
    .p-subtitle {
        font-size: 1.0em;
    }

    .blog-profile-img {
        width: 220%;
    }
}

@media screen and (max-width: 767px) {
    .blog-content-img {
        width: 100%;
    }

    .blog-content-padding {
        padding-left: 0px;

        padding-top: 10px;
    }

    .p-subtitle {
        font-size: 1em;
    }
}

/*------------------------------ Services ------------------------------*/

.services-section-one-bg {
    background: url(images/backgrounds/services/services-section2-background.jpg);
    background-size: cover;

    padding-bottom: 45px;
    padding-top: 45px;
}

.services-tour-left-one {
    margin-left: 350px;
    margin-right: -230px;

    padding-top: 150px;

    z-index: 1;
}

.services-tour-right-one {
    margin-left: -250px;

    padding-left: 150px;
    padding-top: 270px;

    text-align: right;
}

.services-tour-left-two {
    margin-left: 120px;
    margin-right: -230px;

    padding-top: 150px;

    z-index: 1;
}

.services-tour-right-two {
    margin-left: -250px;

    padding-left: 140px;
    padding-top: 270px;

    text-align: right;
}

@media screen and (max-width: 320px) {
    .services-tour-left-one {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 20px;
        text-align: center;
    }

    .services-tour-left-two {
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 20px;
        text-align: center;
    }

    .services-tour-right-one {
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .services-tour-right-two {
        margin-left: 0px;
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
    }

    .services-content-one {
        text-align: center;
    }
    
    .services-img {
        width: 100%;
        padding-top: 20px;
    }
}

/*------------------------------ Footer ------------------------------*/
.footerbg {
    background: url(images/backgrounds/footer-background.jpg);
    background-size: cover;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-btns {
    text-align: right;
}

.footer-legal {
    text-align: right;

    padding-top: 0px;


}

@media screen and (max-width: 767px) {
    .footer-btns {
        text-align: left;
    }

    .footer-legal {
        text-align: center;

        padding-top: 90px;
    }
}
